<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorted Name Viewer</title>
    <script src="./ejs.min.js"></script>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
        }
    </style>

</head>
<body>
    <h1 align="center">Sorted Name List</h1>
     <script>
        <div>
           <%= console.log(people) %>
        </div>
     </script>

</body>
</html>
