<p>Welcome to Happy Pet Clinic</p>

<div class="card">
    <img class="card-img-top" src="../assets/images/pets_section.jpg" alt="Card image cap">
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click) = "goToPets()">Pet's Section</button>
    </div>
</div>

<div class="card">
    <img class="card-img-top" src="../assets/images/owner_section.png" alt="Card image cap">
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click) = "goToOwners()">Owner's Section</button>
    </div>
</div>