<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title" *ngIf = "owners.length">
        <div class="row">
          <div class="col-sm-8"><h2>Pet <b>List</b></h2></div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>Pet ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let owner of owners" >
          <td> {{owner.id}} </td>
          <td> {{owner.fullName}} </td>
          <td> {{owner.email}} </td>
          <td> {{owner.address}} </td>
          <td> {{owner.contactNumber}} </td>
          <td> {{owner.petId}} </td>
          <td>
            <button type="button" class="btn btn-success" (click)="editOwner(owner.id)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteOwner(owner.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
